{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
</head>
<body>
{% block content %}
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Flight</th>
      <th scope="col">Departure city</th>
        <th scope="col">Arrival city</th>
        <th scope="col">Departure time</th>
        <th scope="col">Arrival time</th>
    </tr>
  </thead>
  <tbody>
  {% for flight in flights %}
    <tr>
      <td><a href={% url 'flights:detail' flight.flight_code %}>{{ flight.flight_code }}</a></td>
      <td>{{ flight.departure_city }}</td>
      <td>{{ flight.arrival_city }}</td>
      <td>{{ flight.departure_time }}</td>
      <td>{{ flight.arrival_time }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
</body>
</html>